header {
    height: 100px;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 50px;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    font-weight: bold;
}
div{
    width: 49%;
    display: inline-block;
    vertical-align: bottom;
}
img {
    width: 300px;
    float: right;
    margin-right: 30px;
}
main {
    font-family: "Space Mono", monospace;
    height: 540px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
    color: #333333;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}
button {
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-size: 10px;
    margin-top: 20px;
}
footer {
    text-align: center;
    font-size: 20px;
    color: gray;
}
